body{
overflow-x: hidden;
 
}
.button {
  background-color:#000066; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   <!-- margin: 4px 2px; -->
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
   box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.5);
     width: 100%;
   min-width: 50px;  
   max-width: 180px; 
}

.button1 {
  background-color: white; 
  color: #081e5b; 
  border: 2px solid #007bff;
}
#link {
font-weight:bold;
padding: 10px 0px 30px 20px;
color: white;
}
#linksmall{
	font-weight:bold;
padding: 10px 0px 30px 20px;
color: white;
font-size:10px;
	
}

#link a{

color:  #51d8af;
decoration:underline;
}
#link a:hover{

color: white;
decoration:underline;
}

#buttonposition{
padding: 20px 0px 20px 60px;
}

#buttonposition img{
	max-width: 130px;
	max-height: 74px;
}

#gap{
	
	padding-top:22px;
	
}

#next{
	/* padding: 0px 50px 0px 0px;  */
	float : right;
}

#previous{
	padding: 0px 0px 0px 20px; 
	float:left;
}

.heading 
{
color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  
}

#boxWrap {
 margin: 0 auto;
 text-align:center;
}
.view {
   width: 300px;
	color:#081e5b;
   margin: 20px 15px 0px auto;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   /* <!-- background:#081e5b; --> */
   
}
.corview {
   width: 252px;
	/* color:#081e5b; */
   /* margin: 10px 15px 0px auto; */
   margin-left: auto;
   margin-right: auto;
   /* overflow: hidden; */
   /* <!-- background:#081e5b; --> */
   
}
#intropara{
font-size:30px;
padding: 20px 0px 5px 50px;
color:white;
font-weight:bold;
}
#introparasmall{
	
font-size:20px;
padding: 5px 0px 5px 60px;
color:white;	
	
}

#intro{

height: auto;
}
#step1{

height: auto;


}
#step2{
height: auto;


}
@media (max-width:750px){
	
#gap{
		padding-top:0px;
	
}

#introparasmall{
	
font-size:15px;
padding: 5px 15px 5px 40px;
color:white;	
	
}


#intropara{
font-size:18px;
padding: 50px 5px 5px 60px;
}
#link{
font-size:13px;
font-weight:bold;
padding: 5px auto;
}

.button{

font-size:11px;
}
.view {
font-size:11px;
}

.corview {
   width: 180px;
	/* color:#081e5b; */
   /* margin: 10px 15px 0px auto; */
   margin-left: auto;
   margin-right: auto;
   /* overflow: hidden; */
   /* <!-- background:#081e5b; --> */
   
}

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
   height:500px;
  overflow:auto;
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  /* float: right !important; */
  font-size: 28px;
  font-weight: bold;
 position: absolute;

right: 12px;

top: -5px;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaaaaa;
position: absolute;

right: 12px;

top: -5px;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.myModal2{
   height:50px;
   overflow:auto;
}
.myModal1{
   height:50px;
   overflow:auto;
}